.caixa {
	position: relative;
	width: 940px;
	margin-left: 40px ;
	font-family: 'Montserrat', sans-serif;

}


nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	
	display: inline;
	margin-left: 15px;

}

/* letras maisculas */
nav a { 
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
	/*texto sublinhado */
	text-decoration: none;
	text-shadow: black 2px 3px 2px;

}

nav a:hover {
	font-size: 24px;
}

/* hover - cursor por cima dos links */
nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}


header {
	background: url('andrea-donato-MNu0n-3BIKs-unsplash.jpg');
	background-size: cover;
	position: relative;
	height: calc(100vh - 100px);
	width: 100vw;

}

main {
	background: linear-gradient(#FEFEFE, #888888);
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
	font-family: 'Montserrat', sans-serif;

}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 10px 1.5%;
    padding: 20px 0 20px;
    box-sizing: border-box;
    /*border-color: brown;
    border-width: 2px;
    border-style: solid;
    */
    border:  2px solid brown;
    /*border-top-width: 10px;*/
    border-radius: 10px;


}
.produtos li:hover {
	border-color: black;
	/*font-size: 40px;*/
}

/* elemento ativo quando o mouse clica */
.produtos li:active{
	border-color: blueviolet;
}

.produtos li:hover h2 {
	font-size: 22px;
}
.produtos h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.produto-descricao {
    font-size: 16px;

    padding: 20px;
}

/*.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    font-family: fantasy;
}*/

.imgCabelo, .imgBarba, .imgCabeloBarba, .imgBar, .imgSob, .imgSelagem {
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
}
.imgCabelo:hover {
	opacity: 0.3;
} 
.imgBarba:hover {
	opacity: 0.3;
} 
.imgCabeloBarba:hover {
	opacity: 0.3;
} 
.imgBar:hover {
	opacity: 0.3;
} 
.imgSob:hover {
	opacity: 0.3;
}
.imgSelagem:hover {
	opacity: 0.3;
}



footer {
	text-align: center;
	background: url(bg.jpg);
	padding: 50px 0 0;
}

.copyright {
	color: white;
	font-size: 13px;
	margin: 15px;
}

.iconLinkedin {
        width: 30px;
        align-items: center;
}

.iconGithub {
        width: 30px;
        align-items: center;
}


@media screen and (max-width: 480px) {
	.caixa {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	header {
		height: 100%;
	}

	 .produtos{
        width: 100%;
    }
    .produtos li{
        display: block;
        width: 80%;
        margin: 20px auto;
    }
}
